<!-- <div *ngIf="!databaseservice.userLogged">
  <app-login-screen></app-login-screen>
</div> -->

<!-- <div *ngIf="databaseservice.currentPage == 'LOGIN'">
  <app-login-screen></app-login-screen>
</div> -->

<!-- <div *ngIf="databaseservice.currentPage == 'SIGNUP'">
  <app-sign-up></app-sign-up>
</div> -->

<!-- <div class="layout-container" *ngIf="databaseservice.userLogged"> -->
<div class="layout-container">
  <app-aside-bar></app-aside-bar>
  <div class="layout-content">
    <app-header></app-header>
    <app-main></app-main>
  </div>
</div>
