.task-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--w1);
  max-width: 1144px;

  border-radius: 20px;
  align-items: star;
  border: 1px solid var(--gray-white);
}

.task-bar div {
  border-radius: inherit;
  padding: 0.8rem 1.5rem;
  transition: background 250ms ease;
}

.task-bar div:hover {
  background: hsl(0 0% 94%);
}

input[type="text"],
input[type="date"] {
  background: none;
  border: none;
  padding: 0.2rem 0 0 0;
}

input[type="text"]:focus,
input[type="date"]:focus {
  outline: none;
}

::placeholder {
  font-size: 0.75rem;
}
.task-add-btn {
  margin: 16px;
  align-self: flex-end;
  color: var(--w1);
  background-color: var(--oceanBlue);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid var(--border-list);
  cursor: pointer;
  transition: 0.5s;
}
.task-add-btn:hover {
  transition: 0.5s;
  background-color: var(--ice-blue);
}
@media (min-width: 800px) {
  .task-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    margin: 80px 172px;
  }
  .annotation {
    width: 34%;
  }
  .date,
  .filter {
    width: 22%;
  }
}
