<div *ngIf="setAlert" class="alert">
  Dados não foram preenchidos corretamente.
</div>
<div *ngIf="saved" class="sent">Salvo com sucesso.</div>
<form action="" class="task-bar" [formGroup]="annotationForm">
  <div class="annotation">
    <p>Anotação</p>
    <input
      type="text"
      placeholder="O que precisa anotar?"
      formControlName="annotation"
    />
  </div>
  <div class="date">
    <p>Data</p>
    <input type="date" placeholder="Add dates" formControlName="date" />
  </div>
  <div class="filter">
    <p>Filtro</p>
    <select formControlName="filter">
      <option value="">Selecione filtro</option>

      <option *ngFor="let filter of filters" [value]="filter">
        {{ filter }}
      </option>
    </select>
    <!-- <input
      type="text"
      placeholder="Adicione um filtro"
      formControlName="filter"
    /> -->
  </div>

  <button class="task-add-btn" (click)="onSubmit()">+</button>
</form>
