:root {
  --aside-bar: #aeaeb0;
  --w1: #ffff;
  --bg: #eeefef;
  --gray-white: #e2e3e5;
  --oceanBlue: #1a73e8;
  --border-list: #a3a3a3;
  --pale-red: #ff5a5a;
  --pale-green: #20ad22;
  --violet: #9167d4;
  --orange: #d1642d;
}
* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  margin: 0px;
  padding: 0px;
}
ul {
  padding: 0px;
}
p {
  margin: 0px;
}
