<header>
  <div class="user-container">
    <div class="perfil-img"></div>
    <div>
      <p class="user-name">{{ nome }}</p>
      <p class="user-email">{{ email }}</p>
    </div>
  </div>
  <div class="menu">
    <div class="menu-items">
      <i class="fa-regular fa-calendar"></i>
      <div class="activity-area">
        <p>Meu dia</p>
        <div class="mark normal">5</div>
      </div>
      <div class="menu-lateral"></div>
    </div>

    <div class="menu-items">
      <i class="fa-solid fa-circle-exclamation"></i>
      <div class="activity-area">
        <p>Importante</p>
        <div class="mark important">3</div>
      </div>
      <div class="menu-lateral"></div>
    </div>

    <div class="menu-items active">
      <i class="fa-regular fa-clock"></i>
      <div class="activity-area">
        <p>Planejado</p>
        <div class="mark medium">4</div>
      </div>
      <div class="menu-lateral"></div>
    </div>

    <div class="menu-items">
      <i class="fa-solid fa-list-check"></i>
      <div class="activity-area">
        <p>Tarefas</p>
        <div class="mark normal">1</div>
      </div>
      <div class="menu-lateral"></div>
    </div>

    <hr />

    <div class="menu-items">
      <i class="fa-solid fa-store"></i>
      <p>Lista de compras</p>
      <div class="menu-lateral"></div>
    </div>

    <div class="menu-items">
      <i class="fa-regular fa-handshake"></i>
      <p>Reuniões</p>
      <div class="menu-lateral"></div>
    </div>

    <div class="addList">
      <button class="btn_newList">
        <i class="fa-solid fa-plus"></i>
        <p>Nova Lista</p>
      </button>
      <button class="btn_newGroup">
        <i class="fa-solid fa-layer-group"></i>
      </button>
    </div>
  </div>
</header>
