<header>
  <div class="user-container">
    <div class="perfil-img"></div>
    <div>
      <p class="user-name">Odair Michael Bendotti</p>
      <p class="user-email">odair.michael hotmail.com</p>
    </div>
  </div>
  <div class="menu">
    <div class="menu-items">
      <i class="fa-regular fa-calendar"></i>
      <p>Meu dia</p>
      <div class="menu-lateral"></div>
    </div>

    <div class="menu-items">
      <i class="fa-solid fa-circle-exclamation"></i>
      <p>Importante</p>
      <div class="menu-lateral"></div>
    </div>

    <div class="menu-items">
      <i class="fa-regular fa-clock"></i>
      <p>Planejado</p>
      <div class="menu-lateral"></div>
    </div>

    <div class="menu-items">
      <i class="fa-solid fa-list-check"></i>
      <p>Tarefas</p>
      <div class="menu-lateral"></div>
    </div>

    <hr />

    <div class="menu-items">
      <i class="fa-solid fa-store"></i>
      <p>Lista de compras</p>
      <div class="menu-lateral"></div>
    </div>

    <div class="menu-items">
        <i class="fa-regular fa-handshake"></i>
      <p>Reuniões</p>
      <div class="menu-lateral"></div>
    </div>

    <div class="addList">
        <button class="btn_newList"><i class="fa-solid fa-plus"></i><p>Nova Lista</p></button>
        <button class="btn_newGroup"><i class="fa-solid fa-layer-group"></i></button>
    </div>

  </div>
</header>
