<header
  *ngIf="screenWidth > 500; else responsiveScreen"
  [ngClass]="expandedMenu ? 'expanded-header' : 'withdrawn-header'"
>
  <div
    [ngClass]="
      expandedMenu ? 'hamburger-menu-expanded' : 'hamburger-menu-withdrawn'
    "
  >
    <i class="fa-solid fa-bars" (click)="changeMenuSize()"></i>
  </div>

  <div [ngClass]="expandedMenu ? 'user-container' : 'user-container-withdrawn'">
    <div class="perfil-img"></div>
    <div *ngIf="expandedMenu">
      <p class="user-name">{{ nome }}</p>
      <p class="user-email">{{ email }}</p>
    </div>
  </div>

  <div class="menu">
    <div *ngFor="let item of menuItems" class="menu-items">
      <i [ngClass]="item.icon"></i>
      <div [ngClass]="expandedMenu ? 'activity-area' : 'text-none'">
        <p>{{ item.text }}</p>
        <div class="mark" [ngClass]="item.mark">{{ item.count }}</div>
      </div>
      <div class="menu-lateral"></div>
    </div>
  </div>
</header>

<ng-template #responsiveScreen>
  <div class="menu-template-responsive">
    <div class="menu-responsive">
      <i class="fa-solid fa-bars" (click)="showResponsiveMenu()"></i>
    </div>
    <div
      *ngIf="checkResponsive"
      [ngClass]="expandedMenu ? 'user-container' : 'user-container-withdrawn'"
    >
      <div class="perfil-img"></div>
      <div *ngIf="expandedMenu">
        <p class="user-name">{{ nome }}</p>
        <p class="user-email">{{ email }}</p>
      </div>
    </div>

    <div class="menu" *ngIf="checkResponsive">
      <div *ngFor="let item of menuItems" class="menu-items">
        <i [ngClass]="item.icon"></i>
        <div [ngClass]="expandedMenu ? 'activity-area' : 'text-none'">
          <p>{{ item.text }}</p>
          <div class="mark" [ngClass]="item.mark">{{ item.count }}</div>
        </div>
        <div class="menu-lateral"></div>
      </div>
    </div>
  </div>
</ng-template>
