<section class="body">
    <section class="logo">
        <img src="assets/ANNOTATE.png" alt="">
    </section>
    <section class="login-form">
        <form class="form-control">
            <div class="input-box">
                <label for="email" class="label">E-MAIL</label>
                <input type="email" id="email" name="email" class="input" placeholder="Digite seu email">
            </div>
            
            <div class="input-box">
                <label for="password" class="label">PASSWORD</label>
                <input type="password" id="password" name="password" class="input" placeholder="Digite sua senha">
            </div>  
        </form>
    </section>
</section>
