<section class="body">
  <img class="logo" src="assets/ANNOTATE.svg" alt="" />

  <section class="login-form">
    <p class="d-none d-md-block login-text">Sign to access your account</p>

    <form class="form-control">
      <div class="input-box mb-3">
        <input
          type="email"
          id="email"
          name="email"
          class="input"
          placeholder="Email"
        />
      </div>

      <div class="input-box mb-1">
        <input
          type="password"
          id="password"
          name="password"
          class="input"
          placeholder="Password"
        />
      </div>

      <p class="text-link forgot-pass"><a href="#">Forgot your password?</a></p>

      <button
        class="btn btn-primary d-flex justify-content-center align-items-center"
      >
        Sign In
      </button>

      <p class="text-link mt-3">
        Don't have an account? <a href="#">Sign up</a>
      </p>

      <!-- <img class="d-none d-md-block" src="assets/welcome-right 1.jpg" alt="">

            <img class="d-none d-md-block" src="assets/welcome-left 1.jpg" alt=""> -->
    </form>
  </section>
</section>
